<div class="absolute top-0 left-0 bg-custom_blue flex flex-col justify-center items-center w-[2000px] h-[100vh]">
<nav class="absolute top-[20px] left-[50px] flex justify-center items-center my-4 z-10">
<ul class="flex space-x-4">
    <li class="text-[25px] font-bold"><a href="/" class="text-white hover:text-gray-300">Home</a></li>
    <li class="text-[25px] font-bold"><a href="/about" class="text-white hover:text-gray-300">About</a></li>
    <li class="text-[25px] font-bold"><a href="/animes" class="text-white hover:text-gray-300">Anime</a></li>
    <li class="text-[25px] font-bold"><a href="/users" class="text-white hover:text-gray-300">Users</a></li>
    <li class="text-[25px] font-bold"><a href="/comments" class="text-white hover:text-gray-300">Comments</a></li>
</ul>
</nav>
    <div class="flex flex-col text-white w-[100vw] h-[100vh] justify-center items-center ">
    
    <form action="/animes" method="get" class="relative top-[-150px] rounded-full flex gap-[10px] p-[10px]">
    <input type="text" name="query" placeholder="Search..." class="bg-custom_light_blue rounded-full">
    <button type="submit">Search</button>
    </form>

    <% if @tables.present? %>
    <table class="relative top-[-50px]">      
    <thead>
    <tr class="border-[1px] border-white">
    <th>Anime ID</th>
    <th>English Name</th>
    </tr>
    </thead>
    <tbody>
     <% @tables.each do |anime| %>
        <tr class="border-[1px] border-white text-center">
            <td class="px-[50px]"><%= link_to "/anime/#{anime.id}" do %><%= anime.id %><% end %></td>
            <% if anime.eng_name.blank? %>
            <td class="px-[50px]">NA</td>
            <% else %>
            <td class="px-[50px]"><%= link_to "/anime/#{anime.id}" do %><%= anime.eng_name %><% end %></td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
    </table>
    <% else %>
        <p class="px-[50px] absolute top-[50%] left-[48.5%] translate-x-[-50%] translate-y-[-50%]">No Results Found</p>
    <% end %>
    </div>
    <div class="absolute top-[75%] text-white">
    <%= paginate @tables %> 
    </div>
</div>